<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no seu meetup: {{ meetup }}.</p>
<br />
<p>Confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{ userName }} <br />
  <strong>Email: </strong> {{ userMail }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
